<!DOCTYPE html >
<html>
<head>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <title>{% block title %}{% endblock %} - My Webpage</title>
</head>
<body>
    <h1>Лабораторная робота номер 11</h1>
    <h2>Виконав студент групи КН-31 Бураков Максим</h2>
    <ul class="menu-main">
        <li><a href="#">Табулювання функції на заданому інтервалі.</a></li>
        <li><a href="#">Лаб робота 2</a></li>
        <li><a href="#">Лаб робота 3</a></li>
        <li><a href="#">Лаб робота 4</a></li>
    </ul>
    {% block content %} {% endblock %}
    <footer>
        <div class="footer-example">
            Пример
        </div>
    </footer>
</body>