<!DOCTYPE html >
<html>
<head>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <title>{% block title %}{% endblock %} - My Webpage</title>
</head>
<body>
    <h1>Лабораторная робота номер 11</h1>
    <h2>Виконав студент групи КН-31 Бураков Максим</h2>
    <ul class="menu-main">
        <li><a href="{{ url_for('Functions') }}">Табулювання функції</a></li>
        <li><a href="{{ url_for('OneDimArrays') }}">Рядки та масиви</a></li>
        <li><a href="{{ url_for('Files') }}">Обробка файлів</a></li>
        <li><a href="{{ url_for('TwoDimArrays') }}">Обробка двомірних масивів</a></li>
        <li><a href="{{ url_for('Classes') }}">Спадкування</a></li>
        <li><a href="{{ url_for('AbsClasses') }}">Абстрактні класи</a></li>
    </ul>
    {% block content %} {% endblock %}
    <footer>
        <div class="footer-example">
           Footer Пример
        </div>
    </footer>
</body>