{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
    <h1>Work with classes</h1>
    <h1>Offices</h1>
    <table>
        <tr><td>Name</td><td></td><td>Height</td></tr>
        {% for name, height in offices.items() %}
            <tr><td>{{name}}</td><td></td><td>{{height}}</td></tr>
        {% endfor %}
    </table>
    <h1>Factories</h1>
    <table>
        <tr><td>Name</td><td></td><td>Height</td></tr>
        {% for name, height in factories.items() %}
            <tr><td>{{name}}</td><td></td><td>{{height}}</td></tr>
        {% endfor %}
    </table>
{% endblock %}