{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
    <p>1)Напишіть програму, яка визначить, яка з букв перша або остання
    зустрічаються в заданому слові частіше.</p>
    <p>2)Створіть масив з п&#39;яти прізвищ і виведіть їх на екран ті з них, які починаються
    з певної букви, яка вводиться з клавіатури.</p>
    <p>{{word}}</p>
    <p>{{char}}</p>
    <form action="#" method="post">
        <p>Завд 1 <input type="text" name="word" placeholder="Aab" autocomplete="off"/></p>
        <p>Завд 2 <input type="text" name="char" placeholder="B" autocomplete="off"/></p>
        <p> <input type="submit" value="submit"/></p>
    </form>
{% endblock %}